<div class="top-content">
    <h1>MetalEvent</h1>
</div>
<div class="top-content-links"><button><%= link_to "いますぐ始めてみよう！", new_user_registration_path, class: "top-content-link1" %></button></div>

<div class="description">
    <h1>ヘビメタ業界を盛り上げよう！</h1>
</div>