<div class="container">
  <div class="row">
    <h1><%= @category.name %></h1>
    <div class="col-md-4">
      <div class="list-group">
        <% @events.each do |event| %>
          <%= link_to event.name, event, class: "list-group-item list-group-item-warning" %>
          <p class="list-group-item"><%= event.start_time.strftime("%Y/%m/%d %H:%M") %> - <%= event.end_time.strftime("%Y/%m/%d %H:%M") %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>